/* Estilos adicionales específicos de Registro */

/* Input en estado de error */
.auth-input-error {
  border-color: var(--error) !important;
  background-color: var(--error-container) !important;
}

.auth-input-error:focus {
  border-color: var(--error) !important;
  background-color: #fff !important;
}
